HealthCare CRM/debugger-project/Healthcare crm/force-app/main/default/flows/Daily_Appointment_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Action_1</name>
        <label>Send Email Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Appointments_Tomorrow</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Appointments_Tomorrow.Patient__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Loop_Appointments_Tomorrow.Appointment_Start__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;{!AppointmentReminderBody}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>dayAfterTomorrowStartDT</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( TEXT( TODAY() + 2 ) &amp; &quot; 00:00:00&quot; )</expression>
    </formulas>
    <formulas>
        <name>tomorrowStartDT</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( TEXT( TODAY() + 1 ) &amp; &quot; 00:00:00&quot; )</expression>
    </formulas>
    <interviewLabel>Daily Appointment Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily Appointment Reminder</label>
    <loops>
        <name>Loop_Appointments_Tomorrow</name>
        <label>Loop_Appointments_Tomorrow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Appointments_Tomorrow</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email_Action_1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Appointments_Tomorrow</name>
        <label>Get_Appointments_Tomorrow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Appointments_Tomorrow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Appointment_Start__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tomorrowStartDT</elementReference>
            </value>
        </filters>
        <filters>
            <field>Appointment_Start__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>dayAfterTomorrowStartDT</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Appointment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Appointments_Tomorrow</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-09-22</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AppointmentReminderBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!Loop_Appointments_Tomorrow.Patient__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is a friendly reminder that your appointment is scheduled for {!Loop_Appointments_Tomorrow.Appointment_Start__c}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Clinic: {!Loop_Appointments_Tomorrow.Clinic_Location__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;CareTrack Healthcare Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
